._2qz3{position:relative}._2qz5{color:#fff;font-weight:bold;left:8px;position:absolute;top:13px}
._45ln{height:100px;position:relative}._45lo{position:relative;top:4px}._3ko9{display:inline-block;margin-right:5px}

#bootloader_b9OQO{height:42px;}.bootloader_b9OQO{display:block!important;}