#the-canvas{
    background-color:black;
} 
.container{
    display:flex;
    flex-direction: row;
    background-color: mediumpurple;
}
h3{
    padding: 0 5px;
}
p{
 padding: 0 5px;
}

.logo {
    width:80px;
}

button{
    color: mediumpurple;
    background-color:black;
    border-radius: 20px;
    font-family: impact;
    font-size: 20px;
}
.game-intro{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    align-content:flex-start;
}
.instructions{
font-size: 12px;
font-family: arial;
}
ul {
    list-style-type:none;
    }
